# Gradle
.gradle/
**/build/
**/out/

# IDE
.idea/
*.iml

# Android
local.properties
.cxx/
captures/

# Keystores & signing
*.jks
*.keystore
**/keystore/**
**/signing/**

# Artifacts
*.apk
*.aab

# Logs & misc
*.log
.DS_Store
Thumbs.db

# Generated
app/release/

# Firebase/Secrets
**/google-services.json
